footer
    color: white
    background-color: lighten(black, 10%)
    height: 10rem
    justify-content: center
    align-items: center

    .container
        @include display(flex)
        height: 10rem
        justify-content: center
        align-items: center

    ul
        width: 15rem
        font-size: 2rem
        @include display(flex)
        justify-content: space-between
