
header
    background-color: lighten($body-bgc, 20%)
    color: $body-color
    justify-content: space-around

    .container
        height: 10rem
        justify-content: space-between
        align-items: flex-end

    h1
        font-family: open_sansregular, Arial, sans-serif
        color: $body-color
        padding: 0.25rem 0.5rem 0.5rem 0

    h1, a[class*=icon], a[href]
        font-size: 2rem

    a[href]
        padding: 0.25rem 0.5rem 0.5rem

    a[class*=icon], a[href]
        color: $body-color
        background-color: lighten($body-bgc, 20%)
        transition: 0.25s

        &:hover
            color: lighten($body-bgc, 20%)
            background-color: darken($body-color, 10%)

    a[class*=icon]
        padding: 0.85rem 1rem 0.65rem



    ul
        margin: 0.5rem
        list-style-type: none
        @include display(flex)
        flex-direction: column
        align-items: center
        justify-content: center


@media screen and (min-width: $mobile)
    header
        .container
            flex-direction: row
            justify-content: space-between
            align-items: flex-end

        ul
            flex-direction: row
            justify-content: space-between
            width: 15rem
