main
    background-color: lighten(black, 10%)
    // position: relative
    // żeby tło stało w miejscu (main::after)

    section, .popup, .fullscreen, .desc
        @include display(flex)
        flex-wrap: wrap

    section
        background-color: lighten(black, 20%)
        width: 100%
        justify-content: space-between
        align-items: center
        // position: relative

    h2
        color: #fff
        margin: 1rem
        width: 100%
        text-align: center
        font-size: 1.5rem
        font-weight: bold

    figure.post
        width: 50vw
        height: 50vw
        overflow: hidden
        cursor: pointer

        img
            position: relative
            top: -20px
            left: -20px
            width: 220%
            max-width: none
            filter: grayscale(75%)

            &:hover
                filter: grayscale(0)

    .popup
        display: none
        opacity: 0

        // .mainbox
        //     @include display(flex)
        //     justify-content: center
        //     align-items: center
        //     width: 100%

        figure
            position: relative
            @include display(flex)
            width: 20px
            height: 20px
            overflow: hidden
            align-items: flex-start
            background-color: #fff

        a[class*=icon]
            font-size: 1.5rem
            color: lighten(#000, 40%)

            &:hover
                color: lighten(#000, 10%)

        nav
            @include display(flex)
            padding: 0.5rem
            background-color: rgba(255,255,255,.75)
            justify-content: space-between
            align-items: center
            position: absolute
            top: 0
            width: 100%

        img
            opacity: 0
            cursor: pointer

        figcaption
            padding: 1rem
            display: none
            position: absolute
            top: 0
            left: 0
            background-color: rgba(255,255,255,0.75)
            height: 100%
            overflow: scroll
            flex-direction: column
            align-items: center

            p
                margin: 0.5rem 0

            a
                display: inline-block
                background-color: lighten(#000, 40%)
                border-radius: 0.5rem
                padding: 0.75rem 1rem
                color: #fff

                &:hover
                    background-color: lighten(#000, 10%)

    .fullscreen
        @include display(flex)
        position: fixed
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba(0,0,0,.75)
        justify-content: center
        align-items: center
        z-index: 1


@media screen and (min-width: $mobile)
    main
        .container
            flex-direction: row
            flex-wrap: wrap

        section
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start

        figure.post
            position: relative
            width: 25vw
            height: 25vw

            img
                margin: -10% -50%
                width: 220%
                max-width: none

        .popup
            display: none

            // .mainbox
            //     width: 90%

            // figure
            //     width: 20px
            //     height: 20px
            //     overflow: hidden

            a[class*=icon]
                font-size: 2rem

        .fullscreen
            @include display(flex)
            justify-content: center
            align-items: center

@media all and (min-width: $tablet)
    main
        .container
            align-items: stretch
            section
                width: 1000px

            figure.post
                width: 200px
                height: 200px

            .popup
                display: none
                opacity: 0

                // figure
                //     width: 90vw
                //
                // figure.big
                //     width: 90vw
                //     transition: 1s width


            .fullscreen
                @include display(flex)
                justify-content: center
                align-items: center
