nav.menu
    display: none

    .container
        background-color: lighten($body-bgc, 20%)
        flex-direction: column
        align-items: center
        justify-content: space-between

    .container > div
        width: 100%

    #calendar_wrap
        font-size: 1.25rem
        width: 100%
        background-color: darken($body-color, 10%)
        @include display(flex)
        justify-content: center
        padding: 1rem

        th, td
            padding: 0.5rem
            text-align: right
            margin: 1rem

        td
            a[aria-label]
                display: inline-block
                font-family: open_sansbold
                color: lighten($body-bgc, 20%)
                position: relative
                z-index: 1

                // &:hover
                //     color: $body-color

                // &:hover:before
                //     content: ''
                //     position: absolute
                //     top: -0.45rem
                //     left: -0.45rem
                //     width: 2.5rem
                //     height: 2.5rem
                //     background-color: lighten($body-bgc, 20%)
                //     z-index: -1

        caption
            padding: 0.25rem
            width: 100%
            font-family: open_sansbold, Arial, sans-serif
            font-weight: bold

        #prev, #next
            text-align: center



    ul.menu
        @include display(flex)
        flex-direction: column
        justify-content: space-between
        align-items: center
        width: 100%
        justify-content: space-around
        font-size: 1.25rem

        li
            width: 100%

            &:nth-child(2n)
                background-color: lighten($body-bgc, 20%)

            &:nth-child(2n+1)
                background-color: lighten($body-bgc, 15%)

        a
            padding: 1rem
            display: block
            width: 100%
            text-align: center
            color: $body-color
            background-color: lighten($body-bgc, 20%)
            transition: 0.25s

            &:hover
                color: darken($body-bgc, 20%)
                background-color: darken($body-color, 10%)

@media screen and (min-width: $mobile)
    nav.menu
        ul.menu
            flex-direction: row

            li:nth-child(n)
                background-color: lighten($body-bgc, 20%)
