nav.menu
    display: none

    .container
        background-color: lighten(#000, 10%)
        flex-direction: column
        align-items: center
        justify-content: space-between

    .container > div
        width: 100%

    #calendar_wrap
        font-size: 1.25rem
        width: 100%
        background-color: lighten(#000, 35%)
        @include display(flex)
        justify-content: center
        padding: 1rem

        th, td
            padding: 0.5rem
            text-align: right
            margin: 1rem

        td
            a
                font-family: open_sansregular

        caption
            padding: 0.25rem
            width: 100%
            font-family: open_sansbold, Arial, sans-serif
            font-weight: bold

        #prev, #next
            text-align: center



    ul.menu
        @include display(flex)
        flex-direction: column
        justify-content: space-between
        align-items: center
        width: 100%
        justify-content: space-around
        font-size: 1.25rem

        li
            width: 100%

            &:nth-child(2n)
                background-color: lighten(#000, 20%)

            &:nth-child(2n+1)
                background-color: lighten(#000, 15%)

        a
            padding: 1rem
            display: block
            width: 100%
            text-align: center

            &:hover
                background-color: lighten(#000, 25%)

@media screen and (min-width: $mobile)
    nav.menu
        ul.menu
            flex-direction: row

            li:nth-child(n)
                background-color: lighten(#000, 20%)
