nav.menu
    height: 5rem

    .container
        background-color: lighten(#000, 35%)
        align-items: center

    ul
        @include display(flex)
        width: 100%
        justify-content: space-around
